*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
}


html, body {
height: 100vh;

}

a{
    color: whitesmoke;
    text-decoration: none;
    
}

a:hover{
    border-bottom: 0.2px solid;
}

.img{
    width: 200px;
    height: 200px;
}